html{
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#header {
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    font-size: 35px;
}

#nav {
    line-height: 30px;
    width: 12%;
    float: left;
    padding: 6px;
    margin: 10px;
    border-style: none;
    /* border-color: rgba(234, 236, 238, 0.726);
    background-color:rgba(234, 236, 238, 0.726); */
    font-size:20px;
}

#section {
    float: left;
    width: 70%;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-style: solid;
    margin: 10px;
    border-color: rgba(166, 172, 175, 0.753);
    background-color:rgba(166, 172, 175, 0.753);
    font-size:16px;
}

a.a1 {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

a.a1:hover {
    color: rgba(146, 168, 182, 0.767);
    text-decoration: none;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgba(74, 88, 97, 0.795);
    text-decoration: none;
    text-shadow: 5px 5px 5px rgba(146, 168, 182, 0.274);
}

#bg{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image:url("image/background.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;
    /* 兼容Webkit内核浏览器如Chrome和Safari */
    -o-background-size: cover;
    /* 兼容Opera */
    zoom: 1;
}

.searchBtn{
    font-size:20px;
    background-color:rgba(127, 140, 141, 0);
    transition-duration: 0.5s;
    padding: 15px 32px;
    border:1px #7F8C8D solid;
    border-radius: 12px;
}


.searchBtn:hover{
    background-color: rgba(229, 232, 232, 0);
    border: 1px #D5D8DC solid
}
.searchBtn:focus{
    border:1px #7F8C8D solid;
    border-radius: 12px;
    background-color:rgba(127, 140, 141, 0);
}

select {
    margin: 10px;
    background: rgba(0, 0, 0, 0);
    width: 249px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px #626567 solid;
    border-radius: 5px;
    transition-duration: 0.5s;
}

option {
    color: black;
    background: #D7DBDD;
    line-height: 20px;
    transition-duration: 0.5s;
}

select:focus {
    border: 1px #7B7D7D solid;
}

select:hover {
    border: 1px #EAEDED solid;
}

option:hover {
    background: #F8F9F9;
}

input{
    margin: 10px;
    background: rgba(0, 0, 0, 0);
    width: 249px;
    height: 40px;
    font-size: 18px;
    text-align: left;
    border: 1px #5F6A6A solid;
    border-radius: 5px;
    color: -internal-light-dark-color(black, rgba(255, 255, 255, 0));
    transition-duration: 0.5s;
}

input:focus {
    border: 1px #7B7D7D solid;
}

input:hover {
    border: 1px #EAEDED solid;
}
input:-internal-autofill-selected {
    border: 1px #7B7D7D solid;
    background-color: rgba(0, 0, 0, 0);
}

.resLi{
    padding: 16px 0;
    font-size: 0;
    border-top: 1px solid #e0e0e0;
    list-style: none;
}